<h1><%= "#{@year}年#{@month}月  出勤簿" %></h1>

<div class="table">
  <table border="1" align="center">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出社時間</th>
        <th>退社時間</th>
        <th>勤務時間</th>
      </tr>
    </thead>
    <tbody>
      <%(Date.parse("#{@start_date}")..Date.parse("#{@end_date}")).each do |date| %>
        <tr>
          <td><%="#{date.month}月#{date.day}日"%></td>
          <td><%= %w[日 月 火 水 木 金 土][date.wday] %></td>
          <%# if @time_cards ==  %>
            <% @time_cards.each do |time_card| %>
              <%if time_card.day == date.day %>
                <td><%= "#{time_card.in.hour}:#{time_card.in.min}" %></td>
              <% end %>
              <% if time_card.out == presence %>
                <td><%= "#{time_card.out.hour}:#{time_card.out.min}" %></td>
              <% end %>
              <% if  %>
                <td><%="#{time_card.out.hour - time_card.in.hour}:#{time_card.out.min - time_card.in.min}"%></td>
              <% end %>
            <% end %>
          <%# else %>
            <td></td>
            <td></td>
            <td></td>
          <%# end %>
        </tr>
    <%end%>
    </tbody>
</table>
</div>
