<%= form_with model: @time_card, local: true do |f| %>
  <%= f.hidden_field :year, :value => @year%>
  <%= f.hidden_field :month, :value => @month%>
  <%= f.hidden_field :day, :value => @day%>
    <div class="circle-attend">
       <%= f.hidden_field :in, :value => %>
    </div>
    <div class="circle-leave">
      <%= f.time_field :out%>
      <%= f.submit "退社" ,class:"a" %>
    </div>
<% end %>