<h1>タイムカード</h1>
<p class="header-sub"><%= "#{@year}/#{@month}/#{@day}"%></p>
<p class="time-count" id="RealtimeClockArea"></p>
<div class="new-main">
<%= form_with model: @time_card, local: true do |f| %>
  <%= f.hidden_field :year, value: @year%>
  <%= f.hidden_field :month, value: @month%>
  <%= f.hidden_field :day, value: @day%>
    <% unless @today_card.present? %>
      <div class="circle-attend">
        <%= f.hidden_field :in, value: @time %>
        <%= f.submit "出社" ,class:"a", id:"in-submit" %>
      </div>
      <div class="circle-leave">
        <%= f.hidden_field :out, value: nil %>
        <%= f.submit "退社" ,class:"a", id:"out-submit" %>
      </div>
    <% else  %>
      <div class="circle-attend">
       <%= f.hidden_field :in %>
        <%= f.submit "出社" ,class:"a", id:"in-submit" %>
      </div>
      <div class="circle-leave">
        <%= f.hidden_field :out, value: @time %>
        <%= f.submit "退社" ,class:"a", id:"out-submit" %>
      </div>
    <% end %>

    <div class="main-menu">
      <a href="/time_cards">出勤簿画面へ</a>
    </div>

    <% if current_user.admin? %>
      <div class="main-menu">
        <a href="/admin/users">ユーザー管理画面へ</a>
      </div>
    <% end %>
<% end %>
</div>
