<h1>未処理申請一覧</h1>
<div>
  <table border="1" class="r-table">
    <thead>
      <tr>
      <th>申請者ID</th>
      <th>申請者名</th>
      <th>対象日</th>
      <th>事由</th>
      <th>出勤時刻</th>
      <th>退勤時刻</th>
      <th>承認</th>
      <th>却下</th>
      </tr>
    </thead>
    <tbody>
    <%= form_with model: @request, local: true do |f| %>
      <% @requests.each do |r|%>
        <% if r.approval.nil?%>
          <tr>
            <td><%= "#{r.user.employee_id}" %></td>
            <td><%= "#{r.user.firstname} #{r.user.lastname}" %></td>
            <td><%= "#{r.time_card.month}/#{r.time_card.day}" %></td>
            <td><%= "#{r.reason}" %></td>
            <td><%= "#{(r.time_card.in).strftime("%H:%M")}" %></td>
            <td><%= "#{(r.time_card.out).strftime("%H:%M")}" %></td>
            <td><%= link_to '承認', edit_admin_request_path(r.id), method: :get %></td>
            <td><a href="#">却下</a></td>
          </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
<% end %>
</div>